/* global css */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap");
:root {
  --font-size-base: 1rem;
  --identity-color: #ee7b0b;
  --background-opacity: rgba(0, 0, 0, 0.7);
  --white-color: #fff;
  --black-color: #000;
  --section-max-width: 1150px;
  --single-article-max-width: 800px;
}
.dark {
  --white-color: #000;
  --black-color: #fff;
  --background-opacity: rgba(255, 255, 255, 0.7);
}
body {
  font-family: "IBM Plex Sans Arabic", sans-serif !important;
  background-color: var(--white-color) !important;
  color: var(--black-color) !important;
}
.form-control:focus {
  outline: none;
  border: 1px solid var(--identity-color);
  box-shadow: none;
}
/* start loading style */
.loading-container {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.loading-container .loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #fff #fff transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loading-container .loader::after,
.loading-container .loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #ff3d00 #ff3d00;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loading-container .loader::before {
  width: 32px;
  height: 32px;
  border-color: #fff #fff transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
/* end loading style */

/* Start navbar style */
.nav {
  top: -34px;
}
.nav .nav-item .nav-link {
  border: none;
  background-color: #f7f7f7;
  color: #000;
}
.nav .nav-item .nav-link.active {
  border: 1px solid #f2f2f2;
  color: var(--white-color);
  border: none;
  background: var(--identity-color);
  border-bottom: none;
  border-radius: 4px 4px 0px 0px;
}
.nav-list li {
  border-radius: 10px 10px 0px 0px;
}
.nav-list li:not(.active-tab) {
  border: 1px solid transparent;
  background-color: #f6f6f6;
  color: black;
}
@media screen and (max-width: 576px) {
  .nav {
    flex-wrap: nowrap;
    font-size: 13px;
  }
}
/* start floara style */
.fr-wrapper {
  height: 500px !important;
  overflow-y: auto !important;
}
.fr-rounded {
  border-radius: 8px;
}
b {
  background-color: var(--white-color) !important;
  color: var(--black-color) !important;
}
.fr-element{
  text-align: justify !important;
  /* direction: rtl; */
}
.fr-second-toolbar,
.fr-wrapper a[href="https://www.froala.com/wysiwyg-editor?k=u"],
div[data-f-id="pdf"],
p[data-f-id="pbf"],
article p:last-child {
  visibility: hidden !important;
}
/* custom classes */
.text-black {
  color: #000 !important;
}
.bg-white {
  background-color: #fff !important;
}
.cursor-pointer {
  cursor: pointer;
}
.active-tab {
  border: 1px solid var(--identity-color);
  border-bottom: 0px;
  position: relative;
  background-color: var(--identity-color);
  color: var(--white-color);
}
.active-tab::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: -1px;
  right: -1px;
  height: 2px;
  background-color: white;
}

/* start single article style */
.article-card img {
  object-fit: cover;
  max-width: 100%;
}
.article-card iframe {
  aspect-ratio: 1 / 0.8 !important;
  height: 615px !important;
}
@media screen and (max-width: 603px) {
  .article-card iframe {
    height: 530px !important;
  }
}
@media screen and (max-width: 508px) {
  .article-card iframe {
    height: 546px !important;
  }
}

@media screen and (max-width: 423px) {
  .article-card iframe {
    aspect-ratio: 1 / 1.31 !important;
    height: auto !important;
  }
}
/* end single article style */

/* start custom button comp style */
.button {
  min-width: 50px;
  background-color: var(--identity-color);
  color: var(--white-color);
  border: 1px solid var(--identity-color);
  transition: all 0.3s ease-in-out;
  font-size: 13px;
  padding: 5px 3px;
}
.button:hover {
  background-color: var(--white-color);
  color: var(--identity-color);
  border: 1px solid var(--identity-color);
}
/* end custom button comp style */