.react-quill-custom-class .ql-editor {
  direction: rtl;
  text-align: right;
}

.react-quill-custom-class .ql-editor.ql-blank::before {
  direction: rtl;
  text-align: right;
  color: #999;
  font-style: italic;
}